<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body id="page-top">

    <!-- Sidebar & Topbar-->
    <%- include('partials/head') %>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Mac Address</h1>
        <p class="mb-4">MAC(Media Access Control) 주소는 네트워크 장비의 하드웨어에 연결된 48비트 식별자입니다</a>.</p>



        <!-- DataTales -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mac Address가 어디에 있나요?</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <ul>
                        <div>
                            <li>
                                <h5><b>안드로이드</b></h5>
                            </li>
                            <ol>
                                <li>Bluetooth를 킵니다.</li>
                                <li>설정 앱을 실행합니다.</li>
                                <li>휴대전화 정보 항목을 터치합니다.</li>
                                <li>상태 항목을 터치합니다.</li>
                                <li>Bluetooth Mac Address를 볼 수 있습니다.</li>
                            </ol>
                        </div>
                        </br>
                        <div>
                            <li>
                                <h5><b>아이폰</b></h5>
                            </li>
                            <ol>
                                <li>Bluetooth를 킵니다.</li>
                                <li>설정 앱을 실행합니다.</li>
                                <li>일반 항목을 터치합니다.</li>
                                <li>정보 항목을 터치합니다.</li>
                                <li>Bluetooth Mac Address를 볼 수 있습니다.</li>
                            </ol>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; BT-CHECK 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logout') %>
    <%- include('partials/foot') %>
</body>

</html>