<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body id="page-top">
  <!-- Sidebar & Topbar-->
  <%- include('../partials/head') %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">오늘 날짜</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" name="time-result" id="time-result"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">수강 과목</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">알고리즘</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">출석률</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">출석 인원</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">25/50</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Project -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">공지사항</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body mb-4">
                  <p></p>

                  <h4 class="small font-weight-bold">출석<span class="float-right">수업 시작 ~ 10분</span></h4>

                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <h4 class="small font-weight-bold">지각 <span class="float-right">10분 ~ 20분</span></h4>

                  <div class="progress mb-4">
                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 20%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>

                  </div>

                  <h4 class="small font-weight-bold">결석 <span class="float-right">20분 이후</span></h4>

                  <div class="progress mb-5">
                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 40%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="20"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <p>수업시간부터 10분은 출석으로 인정되고, 10분부터 20분은 지각으로 인정되나, 20분 이후는 결석으로 처리된다.</p>

                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">출석 현황</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">

                    </a>

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body mb-3">
                  <div class="chart-pie">
                    <canvas id="myPieChart"></canvas>
                    <p></p>
                    <div class="text-center small ">
                      <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> 출석
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> 지각
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> 결석
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->

            <div class=" col-md-12">


              <!-- BT CHECK -->

              <div class="card shadow mb-4 ">
                <div class="card-header py-3  d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">BT CHECK</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <div class="col mr-2">
                    </div>
                    <p>BT CHECK에서 BT는 Bluetooth의 약자로, bluetooth를 이용하여 출석을 확인하는 홈페이지 입니다.</p>
                    <p>Bluetooth와 해당 기기의 Mac주소를 이용해 웹페이지에서 버튼을 눌렀을 때 기기를 검사해 실시간으로 출석을 확인합니다.</p>
                  </div>
                </div>
              </div>


              <!-- /.container-fluid -->

            </div>
          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; BT-CHECK 2019</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>


      <%- include('../partials/js') %>

</body>


</html>