<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body id="page-top">
  <!-- Sidebar & Topbar-->
  <%- include('../partials/nav') %>

        <!-- Begin Page Content -->
          Welcome!
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <%- include('../partials/logout') %>
      
      <%- include('../partials/foot') %>

</body>


</html>